.container{
    margin-top: 100px;
    height: calc(100vh - 100px);
    background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogIn{
    width: 35%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
}

.formLogIn h2{
    width: 80%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.error{
    color:#fe4880;
    font-style: italic;
    font-size: 18px;
}

.userName, .passWord{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userName label, .passWord label{
    width: 20%;
    font-size: 18px;
    margin-bottom: 10px;
}

.userName input, .passWord input{
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.userName input, .passWord input:focus-visible{
    outline-color: transparent;
}

.btn{
    width: 20%;
    height: 45px;
    padding: 8px 16px;
    border: none;
    background-image: linear-gradient(to right, #ffce00 50%, #ffce00 50%, #fe4880);
    background-size: 200%;
    background-position: 0%;
    transition: .4s;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.btn:hover{
    background-position: 100% 0%;
}

.getPwdandSignUp{
    width: 60%;
    text-align: center;
    margin: 10px 0 20px 0;
    font-style: italic;
}

.getPwdandSignUp p{
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
}

.getPwdandSignUp p:hover{
    text-decoration: underline;
}

/* ---------------SucceededLogIn */

.succeededLogIn{
    width: 50%;
    height: max-content;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}

.icon{
    width: 10%;
    font-size: 25px;
}

.succeededLogIn h3{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(11, 124, 87);
    margin: 0px;
    display: flex;
    letter-spacing: 1px;
}

.offerList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.offerList h4{
    width: 25%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    border-bottom: 2px solid black;
}

.offerItem{
    width: 50%;
    display: flex;
    align-items: center;
    border: 1.5px solid #ffce00;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .4s ease;
}

.offerItem:hover{
    background-color: #ffce00;
}

.offerItem

.offerIcon{
    font-size: 20px;
    margin: 0px 20px;

}
