.container:before{
    width: 35%;
    height: calc(230vh - 100px);
    content: "";
    background-image: url("https://images.unsplash.com/photo-1546241072-48010ad2862c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-repeat: repeat;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
}

.container{
    margin-top: 100px;
    height: calc(230vh - 100px);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    overflow: hidden;
}

.container h1{
    width: 95%;
    height: fit-content;
    font-weight: 500;   
    text-align: end;
    border-right: 3px solid black;
    padding-right: 20px;
}

.btnWrapper{
    width: 100%;
    text-align: center;
    margin-left: 60px;
}

.btn{
    padding: 20px 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: all .25s ease;
}

.btn:hover{
    color: white;
    background-color: black;

}

.navBarMenu{
    width: 100%;
    margin-bottom: 30px;
    z-index: 1;
}

.navList{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navItem{
    margin: 0 30px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.navItem:hover{
    border-bottom: 1px solid black;
}

/* -------------------- */

.menuContainer{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.lunchDinnerMenu{
    width: 100%;
    margin-top: 50px;
}

.listLDDishes{
    width: calc(360px * 9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.75s ease-in;
}

.menuSlidesCard{
    width: 300px;
    height: 380px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 0 20px;
}

.menuSlidesCard:hover > .info:before{
    display: block;
}

.menuSlidesCard:hover > .info{
    display: flex;
}

.info:before{
    display: none;
    content: "";
    width: 100%;
    height: 400px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
}

.info{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    color: white; 
    z-index: 1;
}

.info h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.info p{
    cursor: pointer;
    font-style: italic;
}

.info p:hover{
    text-decoration: underline;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon{
    width: 5%;
    font-size: 40px;
    position: absolute;
    top: calc(150vh / 2);
    margin: 0 20px;
    z-index: 1;
    cursor: pointer;
    color: rgb(160, 158, 158);
}

/* ----------- */
.menuWrapper{
    width: 70%;
    align-self: center;
    overflow: scroll;
    margin-top: 100px;
    height: 150vh;
    z-index: 1;
}

.menuCard{
    width: 100%;
    height: max-content;
    background-color: rgb(223, 247, 239);
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 30px;
}

.typedOut{
    text-align: center;
    overflow: hidden;
    border-right: .15em solid rgb(15, 185, 143);
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 4s infinite;
    font-weight: 500;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.itemWrapper{
    height: 80px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid rgb(126 122 122);
}

.itemWrapper h3{
    width: 90%;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.itemWrapper h3:hover{
    text-decoration: underline;
}

.itemWrapper h4{
    margin: 10px 0;
    font-size: 20px;
    margin-top: 6px;
    font-weight: 500;
}

.itemWrapper h5{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 300;
    color:rgb(82, 82, 82);
    font-style: italic;
}

/* .menuCard:global(#mainMenu){
    display: none;
}

.menuCard:global(#drinksMenu){
    display: none;
} */

