.container {
  height: calc(100vh - 100px);
  position: relative;
  top: 100px;
  overflow: hidden;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 0.75s ease-in;
}

.imgWrapper {
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.info:before {
  content: "";
  background-color: black;
  opacity: 0.65;
  width: 350px;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.info {
  position: absolute;
  top: 200px;
  left: 150px;
  z-index: 2;
  width: 350px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info h2 {
  width: 100%;
  color: white;
  font-size: 60px;
  margin: 0 20px;
}

.info subtitle {
  width: 100%;
  color: white;
  font-size: 30px;
  margin: 0 20px;
}

.img {
  object-fit: contain;
}

.icon {
  font-size: 50px;
  position: absolute;
  top: calc(50vh - 100px);
  z-index: 1;
  cursor: pointer;
  color: white;
}
